/* Box Model Hack */

/* Clear fix hack */


/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
main{
  padding-left: 10px;
  padding-right: 10px;
}
.navbarContainer{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-between;
}

.listContainer{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  flex-basis: 1;
}
.midSection{
  width: 100%;
}
.lefthalf{
  width: 50%;
}
.welcomeDate{
  display: flex;
  justify-content: space-between;
}
.midSection{
  display: flex;
  border: 1px solid black;
}
.firsthalf{
  border: 1px solid black;
}
.secondhalf{
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;  
  align-content: flex-end;
}
.fourth{
  width: 100%;
  height: 100%;
}
.uaeIsrael img{
  display: flex;
  width: 100%;
}

.textContainer{
  position: relative;
  bottom: 50px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
